@font-face {
  font-family: "Inter";
  src: local("../fonts/Inter-Regular.ttf"),
    url("../fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-md";
  src: local("../fonts/Inter-Medium.ttf"),
    url("../fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Inter-bd";
  src: local("../fonts/Inter-Bold.ttf"),
    url("../fonts/Inter-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Roboto";
  src: local("../fonts/Roboto-Medium.ttf"),
    url("../fonts/Roboto-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "ArchivoBlack";
  src: local("../fonts/ArchivoBlack-Regular.ttf"),
    url("../fonts/ArchivoBlack-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Minecraft";
  src: local("../fonts/MinecraftRegular-Bmg3.otf"),
    url("../fonts/MinecraftRegular-Bmg3.otf") format("opentype");
}
