:root {
  --color-black: #000;
  --color-white: #fff;
  --color-dark-blue: #15141b;
  --color-dark: #2c2c2c;
  --color-light-gray: #b2b2d3;
  --color-gray: #6c6b6b;
  --color-red: #ff2f2f;
  --color-green: #91ff67;
  --color-blue: #0b93d4;
  --color-yellow: #ffd467;

  --gradient-cyan: linear-gradient(180deg, #33e1ff 0%, #28ffef 100%);
  --gradient-green-blue: linear-gradient(
    90.05deg,
    #91ff67 17.64%,
    #4052ff 96.56%
  );

  --border-radius-sm: 7px;
  --border-radius-md: 10px;
  --border-radius-lg: 30px;

  --z-index-1: 1;
  --z-index-10: 10;
  --z-index-100: 100;
  --z-index-999: 999;

  --media-tablet: 768px;
}
