.updatepassword {
  padding: 1rem;
  height: 100vh;
}

.updatepassword__back {
  font-size: 1.2rem;
}

.updatepassword__form {
  height: 80vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
  gap: 1rem;

  input {
    padding: 0.5rem;
    width: 20rem;

    background: var(--color-white);
    border-radius: var(--border-radius-md);

    @media (max-width: 471px) {
      width: 100%;
    }
  }

  button {
    padding: 0.8rem;
    width: 20rem;

    background: var(--gradient-cyan);
    color: var(--color-dark-blue);
    border-radius: var(--border-radius-sm);

    @media (max-width: 471px) {
      width: 100%;
    }
  }
}
